<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">
<head>
    <title>Login Page</title>
</head>
<body>
<div id="content">
    <section class="auth-access" id="auth-access">
        <div class="container">
            <div class="outer-form-container">
                <div class="inner-form-container">
                    <h1>Welcome back</h1>
                    <p>Manage tasks instantly. No account? <a th:href="@{/register}">Sign up now!</a>.</p>

                    <div th:if="${param.error}" class="invalid">
                        Invalid username and password.</div>
                    <div th:if="${param.logout}" class="login-form-logout-msg">
                        You have been logged out successfully.</div>

                    <form th:action="@{/authenticate}" method="post" class="access login">

                        <!-- email and password -->

                        <div class="form-group">
                            <div>
                                <label for="email">Your email</label>
                                <input type="email" name="email" id="email" placeholder="name@company.com"
                                       autocomplete="off" required>
                            </div>

                            <div>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" placeholder="••••••••"
                                       autocomplete="off" required>
                                <a href="#" class="forgot">Forgot password?</a>
                            </div>
                        </div>

                        <!-- submit button -->

                        <div class="access-btn">
                            <button type="submit">
                                <span>Sign in to account</span>
                                <span class="loader" style="display: none"></span>
                            </button>
                        </div>

                        <!-- divider -->

                        <div class="or-divider">
                            <div class="hr"></div>
                            <span class="or">OR</span>
                            <div class="hr"></div>
                        </div>

                        <!-- social login -->

                        <div class="social-log">
                            <a th:href="@{'/oauth2/authorization/google'}" class="google" >
                                <img th:src="@{/images/google-original.svg}" alt="Google Icon">
                                Continue with Google
                            </a>

                            <a th:href="@{'/oauth2/authorization/github'}" class="github">
                                <img th:src="@{/images/github-original.svg}" alt="GitHub Icon">
                                Continue with GitHub
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    // To display loader when form is filled.
    document.querySelector('.login').addEventListener('submit', function (){
        const submitButton = document.querySelector('.access-btn button[type="submit"]');
        const loader = submitButton.querySelector('.loader');

        submitButton.querySelector('span').textContent = "Signing in..";
        loader.style.display = "inline-block";
    });
</script>

</body>
</html>