<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">
<head>
    <title>Register Page</title>
</head>
<body>
<div id="content">
    <section class="auth-access" id="auth-access">
        <div class="container">
            <div class="outer-form-container">
                <div class="inner-form-container">
                    <h1>Create an account</h1>
                    <p>Get started in seconds. Already have an account? <a th:href="@{/login}">Login here</a>.</p>

                    <form th:action="@{/process-form}" method="post" th:object="${registerForm}" class="access register"
                            novalidate>

                        <!-- name and username -->
                        <div class="form-group">
                            <div>
                                <label for="name">Name</label>
                                <input th:field="*{name}" type="text" name="name" id="name" placeholder="e.g. Alone Hacker"
                                       autocomplete="off" required>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                      class="error-msg"></span>
                            </div>

                            <div>
                                <label for="username">Username</label>
                                <input th:field="*{username}" type="text" name="username" id="username" placeholder="e.g. alone_hacker"
                                       autocomplete="off" required>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                      class="error-msg"></span>
                            </div>
                        </div>

                        <!-- email and phone -->

                        <div class="form-group">
                            <div>
                                <label for="email">Your email</label>
                                <input th:field="*{email}" type="email" name="email" id="email" placeholder="name@company.com"
                                       autocomplete="off" required>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                      class="error-msg"></span>
                            </div>

                            <div>
                                <label for="phone">Phone</label>
                                <input th:field="*{phoneNumber}" type="text" name="phone" id="phone" placeholder="(Optional) +91 123 456789"
                                       autocomplete="off">
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                      class="error-msg"></span>
                            </div>
                        </div>

                        <!-- password and confirm password -->

                        <div class="form-group">
                            <div>
                                <label for="password">Password</label>
                                <input th:field="*{password}" type="password" name="password" id="password" placeholder="••••••••"
                                       autocomplete="off" required>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                      class="error-msg"></span>
                            </div>

                            <div>
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="••••••••"
                                       autocomplete="off" required>
                                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                      class="error-msg"></span>

                            </div>
                        </div>

                        <!-- submit button -->

                        <div class="access-btn">
                            <button type="submit" class="button">
                                <span> Create an account</span>
                                <span class="loader" style="display: none"></span>
                            </button>
                        </div>

                        <!-- divider -->

                        <div class="or-divider">
                            <div class="hr"></div>
                            <span class="or">OR</span>
                            <div class="hr"></div>
                        </div>

                        <!-- social login -->

                        <div class="social-log">
                            <a href="#" class="google" >
                                <img th:src="@{/images/google-original.svg}" alt="Google Icon">
                                Continue with Google
                            </a>

                            <a href="#" class="github">
                                <img th:src="@{/images/github-original.svg}" alt="GitHub Icon">
                                Continue with GitHub
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    // To display loader when form is filled.
    document.querySelector('.register').addEventListener('submit', function (event) {
        const submitButton = document.querySelector('.access-btn button[type="submit"]');
        const loader = submitButton.querySelector('.loader');

        const password = document.querySelector('#password').value;
        const confirmPassword = document.querySelector('#confirmPassword').value;

        if (password !== confirmPassword) {
            event.preventDefault();
            alert('Passwords do not match!');
        }
        else{
            // If passwords match, show loader
            submitButton.querySelector('span').textContent = "Creating account...";
            loader.style.display = "inline-block";
        }
    });
</script>

</body>
</html>