@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: hsl(0, 0%, 100%);
    --accent-color: hsl(259, 63%, 59%);

    --text-primary: hsl(221, 43%, 11%);
    --text-secondary: hsl(221, 13%, 46%);

    --button-bg: hsl(259, 63%, 59%);
    --button-text: hsla(0, 0%, 100%, 0.95);

    --ion-icon-color: hsla(0, 0%, 100%, 0.95);

    --link-hover: hsla(0, 0%, 80%, 0.1);

    --divider-line: hsl(0, 0%, 80%);

    --card-bg: hsl(210, 24%, 98%);

    --border-color: hsla(0, 0%, 80%, 0.5);

    --danger-color: hsl(354, 70%, 54%);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--background-color);
    color: var(--text-primary);
}

button,
input,
select,
option,
textarea {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

section {
    overflow: hidden;
    padding: 3rem 0;
}

.header {
    width: 100%;
    z-index: 10;
}

.desktop-navigation {
    width: 100%;
    z-index: 50;
    position: relative;
}

.container {
    width: 100%;
    max-width: 80.35rem;
    margin: 0 auto;
}

/* Navbar */

.desktop-navigation .container {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo,
.icon {
    display: flex;
    align-items: center;
}

.logo {
    gap: 0.6rem;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    background: var(--accent-color);
    border-radius: 0.4rem;
    justify-content: center;
}

.icon ion-icon {
    font-size: 1rem;
    color: var(--ion-icon-color);
}

.logo-title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-primary);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    display: inline-block;
    padding: 0.6rem 1.25rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-primary);
    transition: 0.3s;
}

.nav-link:link,
.nav-link:visited {
    color: var(--text-primary);
}

.nav-link:hover,
.nav-link:active {
    background: var(--link-hover);
    color: var(--accent-color);
}

.auth {
    background: var(--button-bg);
    color: var(--button-text) !important;
    border-radius: 0.4rem;
}

.auth:hover {
    background: var(--button-bg) !important;
}

/* mobile navigation */

.mobile-view ion-icon {
    font-size: 1.8rem;
    color: var(--accent-color);
    cursor: pointer;
}

.mobile-view ion-icon[name="close-circle"] {
    display: none;
}

.mobile-view {
    display: none;
}


/* register form */
.auth-access .container {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-form-container {
    width: 100%;
    max-width: 600px;
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 0.4rem;
}

.inner-form-container {
    padding: 1.5rem;
}

.inner-form-container>*+* {
    margin-bottom: 1rem;
}

.inner-form-container h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 0.4rem;
    color: var(--text-primary);
}

.inner-form-container p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.inner-form-container p a {
    color: var(--accent-color);
    font-weight: 600;
}

.access {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.form-group div {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.45rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--text-primary);
}

input {
    background-color: #f9fafb;
    border: 2px solid var(--border-color);
    color: var(--text-primary);
    font-size: 0.85rem;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    transition: 300ms;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.forgot {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--accent-color);
    text-decoration: none;
    text-align: right;
    transition: color 0.2s, text-decoration 0.2s;
    margin-top: 0.4rem;
}

.forgot:hover {
    text-decoration: underline;
}

.error-msg {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--danger-color);
}

button {
    color: var(--button-text);
    background: var(--button-bg);
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.hr {
    width: 100%;
    height: 1px;
    background: var(--divider-line);
}

.or {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--text-secondary);
}

/* social log */
.social-log {
    display: flex;
    gap: 0.6rem;
}

.social-log img {
    max-width: 1.25rem;
}

.google,
.github {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.625rem 1.25rem;
    border: 2px solid var(--border-color);
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-primary);
}

.google:hover,
.github:hover {
    background: rgba(119, 119, 119, 0.25);
}


/* contact page */
.contact-outer-container {
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.contact-outer-container h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-primary);
    transition: color 0.2s;
}

.contact-outer-container p {
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-secondary);
    transition: color 0.2s;
    line-height: 1.7rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.625rem;
    font-size: 0.85rem;
    color: var(--text-primary);
    background-color: #f9fafb;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    resize: none;
}


/* service page */
.services .container {
    padding: 0 4rem;
}

.add-task {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--button-text);
}

.add-task ion-icon {
    font-size: 1.25rem;
}