<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content, title, script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A user-friendly to-do list application that allows you to create, update, delete, and set reminders for your tasks.">
    <meta name="keywords" content="todo list, task management, reminders, productivity">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/authforms.css}">

    <title th:replace="${title}">Base Page</title>
</head>
<body>
<!--Common navigation bar-->
<div th:replace="~{navbar :: navbar}"></div>

<!--Dynamic content-->
<div th:replace="${content}"></div>

<!--Scripts-->
<script th:src="@{/scripts/navbar.js}" defer></script>
<script th:src="@{/scripts/theme-toggle.js}" defer></script>
<script th:src="@{/scripts/dashboard.js}" defer></script>


<th:block th:replace="${script}"></th:block>
</body>
</html>