<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">
<head>
    <title>Navbar</title>
</head>
<body>
<section id="content">
    <header class="header" th:fragment="navbar">
        <nav class="desktop-navigation">
            <div class="container">

                <div class="logo">
                    <div class="icon">
                        <ion-icon name="checkmark-done"></ion-icon>
                    </div>
                    <a th:href="@{/}" class="logo-title">Taskify</a>
                </div>

                <div class="navbar">
                    <ul class="nav-links">
                        <li>
                            <a th:href="@{/}" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a th:href="@{/about}" class="nav-link">About</a>
                        </li>
                        <li>
                            <a th:href="@{/contact}" class="nav-link">Contact</a>
                        </li>
                        <li>
                            <a th:href="@{/login}" class="nav-link auth">Get Started</a>
                        </li>
                    </ul>
                </div>

                <div class="mobile-view">
                    <ion-icon name="menu" class="ion-icon"></ion-icon>
                    <ion-icon name="close-circle" class="ion-icon"></ion-icon>
                </div>
            </div>
        </nav>
    </header>

</section>
</body>
</html>